[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PoPdesign"]
	path = PoPdesign
	url = https://github.com/cran/PoPdesign
[submodule "planningML"]
	path = planningML
	url = https://github.com/cran/planningML
